
@model WebTest.Models.SendCodeViewModel


<div>
    @Html.DisplayFor(model=> model.SelectedProvider)
    <hr />
    @Html.DisplayFor(model=> model.ReturnUrl)
    <hr />
    @{if (Model != null && Model.Providers != null)
      { 
    foreach (var item in Model.Providers)
    {
        @Html.DisplayFor(model => item.Text);
        <hr />
    }
    }
    }
</div>